 <!DOCTYPE html>
<html dir="rtl" class="rtl" lang="ar">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{assets}}/css/app.css" media="screen" title="no title">
    <title>{{site.title}}</title>
  </head>
  <body>
  	<h1>{{site.title}}</h1>
  	<hr />

    {% for item in block_items("menu") %}
      <li><a href="{{url}}/{{item.link}}">{{item.title}}</a></li>
    {% endfor %}

    <hr>

    {% block content %}{% endblock %}


    <hr>
    <h4>Floow us:</h4>
    {% for item in block_items("social_links") %}
      <li><a href="{{url}}/{{item.link}}">{{item.title}}</a></li>
    {% endfor %}


    <br><br><br>
    <hr>
    <small>Version 0.1.1</small>

    <script src="{{assets}}/js/app.js" charset="utf-8"></script>
  </body>
</html>
